* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;  
    /* border: 1px solid red;*/
}

.formulario {
    height: 60vh;
    width:40%;
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 60vh;
    width: 20%;
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrado {
    height: 60vh;
    width: 40%;    
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: red;
}

footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
